body {
    /* Taille de l'arrière plans 100%*/
    height: 100vh;
    /* Dégrader de couleur en arriere plan */
    background-image: linear-gradient(to bottom right, #fc0202, #f1f519);
    /*Taille du fond et cover serre a tout couvrire */
    background-size: cover;
}

.nav-bar {
    /*Pouvoir choisir la disposition de notre bar nav */
    justify-content: center;
    display: flex;
    align-items: flex-start;
    font-family: OCR A Std, monospace;
    margin-top: 20px;
    

}
nav ul {
    /*Suprime les puces*/
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-bar a {
    /*Suprime les soulignement*/
    text-decoration: none;
    color: white;
    background: black;
    border-radius: 50px;
    font-size: 2.78vh;
    padding: 2vh;
    height: 5vh;
    line-height: 5vh;
    flex-direction: row;

}
.nav-bar a:hover{
    background-color: aquamarine;
}
.forme {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Chalkduster, fantasy;

}
#imageIndex {
        width: 400px;
        height: 400px
}

/* Ajoute une marge à gauche pour les puces de la liste */
.forme ul {
    margin-left: 20px;
}
.buttonForm {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonForm:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-buttonForm5 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-buttonForm {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.buttonForm:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}