body {         
    /* Taille de l'arrière plans 100%*/
    height: 100vh;
    /* Hauteur de votre élément */
    background-image: linear-gradient(to bottom right,#9FE855,#6666FF);
    /*Taille du fond et cover serre a tout couvrire */
    background-size: cover;
        display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /* Pour aligner les éléments verticalement */
}
.accueil-regle {
    background-color: black;
    color: white;
    /*Ajuste la longueur*/
   display: inline-block;
   /*Pour lasser une marge entre chaque coté"*/
   padding: 50px;
   font-size: 18px;
   
}
.nav-bar li{
    /*Pour aligner la nav bar*/
    display: inline-block
    /*Pour espacer entre <li>*/
    
}
nav{
    display: inline-block;
    background-color: black;
    color: white;
    margin: 50px;
}
.nav-bar li a {
    /*Suprime les soulignement*/
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px;
} 